<nz-water-mark [nzContent]="['我是水印', '你不服吗？']">
<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
  <label for="name">Hero name: </label>
  <input nz-input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>
<div>
  <nz-input-group nzAddOnBefore="Http://" nzAddOnAfter=".com">
    <input type="text" nz-input [(ngModel)]="hero.url" />
  </nz-input-group>
</div>
<div>
  <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="addOnAfterTemplate">
    <input type="text" nz-input [(ngModel)]="hero.name" />
  </nz-input-group>
  <ng-template #addOnBeforeTemplate>
    <nz-select [ngModel]="'Http://'">
      <nz-option nzLabel="Http://" nzValue="Http://"></nz-option>
      <nz-option nzLabel="Https://" nzValue="Https://"></nz-option>
    </nz-select>
  </ng-template>
  <ng-template #addOnAfterTemplate>
    <nz-select [ngModel]="'.com'">
      <nz-option nzLabel=".com" nzValue=".com"></nz-option>
      <nz-option nzLabel=".jp" nzValue=".jp"></nz-option>
      <nz-option nzLabel=".cn" nzValue=".cn"></nz-option>
      <nz-option nzLabel=".org" nzValue=".org"></nz-option>
    </nz-select>
  </ng-template>
</div>
<div>
  <nz-input-group nzAddOnAfterIcon="setting">
    <input type="text" nz-input [(ngModel)]="hero.name" />
  </nz-input-group>
</div>

  <div style="height: 500px"></div>
</nz-water-mark>
