<h2>我的英雄列表</h2>
<div>
    <label for="new-hero">新的英雄名称: </label>
    <input id="new-hero" #heroName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="addHero(heroName.value); heroName.value=''">
        增加英雄
    </button>
</div>
<br>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button type="button" class="delete" title="删除英雄"
        (click)="deleteHero(hero.id)">x</button>
    </li>
</ul>
